@import '/css/footer.css';
html, body, main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #F5ECD5;
}

main {
  margin-bottom: 25vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #578E7E;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 600;
}
.navbar .logo {
  height: 70px;
  margin-left: 30px;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 1em;
}
.navbar .nav-link {
  color: #ffffff;
  font-family: "ubuntu", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 20px;
}
.navbar .nav-link:hover {
  background-color: #F5ECD5;
  color: #578E7E;
  border-radius: 5px;
  transition: 0.3s;
}
.navbar .logout {
  color: #578E7E;
  font-family: "ubuntu", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: #F5ECD5;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 25px;
}
.navbar .logout:hover {
  background-color: #FFFAEC;
  color: #578E7E;
}

.username {
  color: #ffffff;
  font-family: "ubuntu";
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 20px;
}

.planner {
  font-family: "ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 90%;
}

.events-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 340px;
  margin-left: 50px;
  background-color: #F5ECD5;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}

.upcoming-past-container {
  display: flex;
  flex-direction: row;
}
.upcoming-past-container #upcoming-events-container,
.upcoming-past-container #past-events-container {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5ECD5;
}
.upcoming-past-container .upcoming-h2, .upcoming-past-container .past-h2 {
  justify-content: center;
  display: flex;
  color: #578E7E;
}

.filter-container label {
  font-size: 20px;
}

#event-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  width: 250px;
  height: 260px;
  padding: 20px;
  background-color: #F5ECD5;
  color: #578E7E;
}
#event-form label {
  font-size: 20px;
  font-weight: 700;
}
#event-form #addEventBtn {
  background-color: #578E7E;
  color: #F5ECD5;
  width: 100px;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  font-family: "ubuntu", sans-serif;
  font-size: 0.8rem;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#event-form #addEventBtn:hover {
  background-color: #F5ECD5;
  color: #578E7E;
  border: 1px solid #578E7E;
  transition: 0.5s;
  padding: 5px;
}

input#event-name,
input#start-time,
input#end-time {
  height: 30px;
  padding: 0px;
}

.event-item {
  background: #578E7E;
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 15px;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  color: #F5ECD5;
}
.event-item .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.past-event {
  background-color: grey;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}/*# sourceMappingURL=planner.css.map */