html, body, main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FFFAEC;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #578E7E;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-weight: 600;


.logo {
    height: 70px;
    margin-left: 30px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1em;
    
    
}

.nav-link {
    color: #ffffff;
    font-family: 'ubuntu', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
}
.nav-link:hover {
    background-color: #F5ECD5;
    color: #578E7E;
    border-radius: 5px;
    transition: 0.3s;
}
.logout {
    color: #578E7E;
    font-family: 'ubuntu', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #F5ECD5;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 25px;
}

.logout:hover {
    background-color: #FFFAEC;
    color: #578E7E; 
    
}
}
.username {
    color: #ffffff;
    font-family: 'ubuntu';
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
}

.planner {
    font-family: 'ubuntu', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height:100%;
    margin-top: 50px;
    border:none;

}

.events-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 340px;
    margin-top: 20px;
    border:none;
}

.upcoming-past-container {
    display: flex;
    flex-direction: row;

    #upcoming-events-container, 
    #past-events-container {
        display: flex;
        margin: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
    }

    .upcoming-h2, .past-h2 {
        justify-content: center;
        display: flex;
        color: #578E7E;
    }
}

.filter-container {
    display: flex;
    flex-direction: column;
    


    label {
        font-size: 20px;
    }
}

#event-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    width: 500px;
    height: auto;
    padding: 20px;
    background-color: #F5ECD5;
    color: #578E7E;
    border: none;

    label {
        font-size: 25px;
        font-weight: 700;
    }

    #addEventBtn {
        background-color: #578E7E;
        color: #F5ECD5;
        width: 100px;
        height: 50px;
        padding: 0.5rem;
        border-radius: 0.3rem;
        border: none;
        cursor: pointer;
        font-family: 'ubuntu', sans-serif;
        font-size: 15px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #F5ECD5;
            color: #578E7E;
            border: 1px solid #578E7E;
            transition: 0.5s;
            padding: 5px;
        }
    }
}




input#start-time, input#end-time, #filter, input#event-name{

    height:50px;
    font-size: 25px;
    color: #578e7e;
    width:auto;
    border-radius: 3px;
    border: none;
    
}

.event-item {
    background: #F5ECD5;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    color: #578e7e;

    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.past-event {
    background-color:#F5ECD5;
    color: gray;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}